<style>
  .buscador
  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    background-color: #eeeeee;
    align-items: center;

  }
  .buscador form
  {
    margin: auto;
  }
  .buscador form input
  {
    border: 0;
    outline: 0;
    font-size: 25px;
  }

  form .form-block input:focus + label, form .form-block input.ng-not-empty + label {

  }
  .buscador-title
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .buscador-title
  {    font-size: 35px;
    margin-bottom: 30px;
    color: #009688;
  }

</style>
<div class="buscador fila">

  <form class="col s-10 m-6 l-4">
    <h2 class="buscador-title">Encontrá lo que buscás en segundos...</h2>
    <div class="form-block ">
      <input  id="search" data-ng-model="search.q"type="text">
      <label for="search">¿Qué estas buscando?</label>
    </div>
  </form>

</div>
