
<% if(secciones)
{   %>

<div class="secciones">





  <div class="grilla grilla-secciones">
    <a class="seccion">



    </a>
    <% secciones.forEach(function (seccion,k) { %>

    <a class="seccion">

      <figure class="responsive image-container" >
        <img class="cover responsive" src="<%- seccion.imagen %>">
        <figcaption class="nombre"><p><%- seccion.nombre %></p></figcaption>
      </figure>
      <div class="mask animate"></div>

    </a>


    <% }); %>
  </div>


</div>
<%
}
%>
