<style>

  .ultimos-avisos
  {
    width: 100%;

    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;

  }

  .ultimos-avisos .title
  {
    font-size: 35px;
    color: #009688 ;
    width: 100%;

  }

  .ultimos-avisos .aviso
  {
    width: 23%;
    margin-right: 2%;
    margin-top: 25px;
  }
  .ultimos-avisos .aviso .body
  {
    width: 100%;
    height: 200px;
  }
  .ultimos-avisos .aviso figure,.ultimos-avisos .aviso img
  {
    width: 100%;
    height: 100%;
  }
  .ultimos-avisos .aviso h3
  {
    line-height: 23px;
  }
  .ultimos-avisos .aviso footer
  {
    padding: 10px;
  }
  /*
  .ultimos-avisos .aviso:last-child
  {
    margin-right: 0px;
  }*/
</style>
<div class="ultimos-avisos">
  <h2 class="title">Últimos avisos</h2>

  <article class="aviso">

    <div class="body">
      <figure>
        <img src="https://acs2.blob.core.windows.net/imgcatalogo/xl/P_e5c0ab8b07204098a2d02a8e7301803d.jpg">
      </figure>

    </div>

    <footer>
      <h3>Amarok 2.4 Disel Impecable primera mano 2013</h3>
    </footer>

  </article>

</div>
