


<div class="ultimos-avisos">
  <h2 class="title">Últimos avisos</h2>
  <% for(var i=0;i<7;i++)
  {
    %>
  <article class="aviso">

    <div class="body">
      <figure>
        <img src="https://acs2.blob.core.windows.net/imgcatalogo/xl/P_e5c0ab8b07204098a2d02a8e7301803d.jpg">
        <figcaption class="categoria">
          Autos
        </figcaption>
      </figure>


    </div>

    <footer>
      <span class="nombre-usuario">19 de Julio</span>
      <h3>Amarok 2.4 Diesel Impecable primera mano 2013</h3>


    </footer>
<!--
    <div class="mask"></div>
-->
  </article>
  <%
  }%>

</div>
