<h1>Hola</h1>
<style>
  .fila div
  {
    height: 100px;
    padding-right: 10px;
  }
</style>
<div class="fila">
  <div class="xl3" style="background: red">

  </div>
  <div class="xl3" style="background: red">

  </div>
  <div class="xl3" style="background: red">

  </div>
  <div class="xl3" style="background: red">

  </div>
</div>
