.sidenav
{
  background-color: rgba(25, 26, 26,1);
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
}
.sidenav nav
{
  width: 100%;
  min-height: 100%;


  z-index: 2;
}
.sidenav nav a
{
  width: 100%;
  float: left;
  padding: 20px;
}
