
.portada > section > .body
{
  width: 85%;
  margin: auto;
}

@media screen and  (max-width:1023px)
{


  .portada > section > .body
  {
    width: 90%;
  }


}


@media screen and (max-width:767px)
{


  .portada > section > .body
  {
    width: 95%;
  }



}
@media screen and (max-width:600px) {


}

@media screen and (max-width:425px) {



}
