.portada .grilla-secciones > .seccion
{
  width: 33.33333%;
  height: 50%;
  float: left;
}

@media screen and  (max-width:1023px)
{



}


@media screen and (max-width:767px)
{




}
@media screen and (max-width:600px) {
  .portada .grilla-secciones > .seccion
  {
    width: 100%;
    height: 33.3333333%;
    float: left;
  }


}

@media screen and (max-width:425px) {


  .portada .grilla-secciones > .seccion
  {
    width: 100%;
    height: 33.3333333%;
    float: left;
  }

}
