
<script>

  app.config(function($routeProvider) {

    $routeProvider
      .when("/", {
        templateUrl:'views/login.html',
        controller:"loginController"
      })/*.
    when("/<%= res.i18n("panel.seccionesRuta")%>",
      {
        template:document.querySelector("#page-2").innerHTML
      })
*/
  });

</script>
<div class="app">

  <header>
     <%- partial("comun/navegacion.ejs") %>
  </header>
  <section data-ng-view>

  </section>

</div>
