<div class="playlist">
  <div class="fixed-top">
    <form data-ng-submit="search()" class="container">
      <div class="form-block">

        <input data-ng-model="search.q" id="search" class="animate" type="text" placeholder="Buscá un tema...">
        <button class="button animate"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>


  <ul  class="list " data-ng-if="playlist.length > 0">
    <li onscroll="javascript:alert('a')"   class="item slide-left" data-ng-repeat="p in playlist" data-ng-click="play(p.id)">
      <span class="title" >{{p.titulo}}</span>
      <!--
      <div class="icon play">
        <i class="fa fa-play " aria-hidden="true"></i>
      </div>
      -->
      <div class="thumbnail">
        <img data-ng-src="{{p.thumbnail}}" class="fit">
      </div>
    </li>


  </ul>

  <p class="no-songs" data-ng-if="!playlist || playlist.length==0">
    No hay canciones para reproducir
  </p>

</div>
