<div class="songlist">

  <ul  class="list " data-ng-if="songList && notEmpty(songList)">
    <li data-ng-class="p.selected ? 'show-options' : ''" class="item slide-left animated" data-ng-repeat="(k,p) in songList" data-ng-click="toggleSong(p)">



       <span class="title" >{{p.titulo}}</span>
       <!--
       <div class="icon play">
         <i class="fa fa-play " aria-hidden="true"></i>
       </div>
       -->

       <div class="thumbnail">
         <img data-ng-src="{{p.thumbnail}}" class="fit">
               <span class="playing-now scale-fade"  data-ng-if="player.loadedSong==p.id && !player.paused">
 <i class="fa fa-play" aria-hidden="true"></i>
      </span>
       </div>


      <div class="back animate">

      <span class="controls ">
          <span class="play action" data-ng-click="play(p)">
          <i class="fa fa-play" aria-hidden="true"></i>
        </span>

        <!--
        <span class="playlist-add action" data-ng-click="addToPlaylist(p)">
    <i class="fa fa-list" aria-hidden="true"></i>
<i class="fa fa-plus" aria-hidden="true"></i>
        </span>-->



        <a data-ng-click="download(p)" class="download action">
          <i class="fa fa-download" aria-hidden="true"></i>

        </a>

      </span>


      </div>
    </li>


  </ul>

  <p class="no-songs" data-ng-if="!songList || !notEmpty(songList)">
    No hay canciones para reproducir
  </p>

</div>
