
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

.container
{
  padding: 20px;
}
.vcenter
{

  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
}
html,body
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
.list
{

  margin: 0;
  margin-bottom: 80px;
  margin-top: 70px;
  width: 100%;
  float: left;
  padding: 10px;
}
.list > .item
{
  background-color:#f5f5f5;
  padding: 30px;
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.list > .item >.thumbnail
{
  position: absolute;
  width: 25%;
  float: left;
  height: 100%;
  top: 0;
  right: 0;
}
.list > .item > .title
{
  font-weight: 300;
  font-size: 20px;
  width: 65%;
   float: left;
  display: block;
  line-height: 25px;
}
.list > .item > .icon.play
{
 position: absolute;
  width: 35%;
  float: left;
  text-align: right;
  right: 30px;
  top: 44%;

}
.list > .item .icon.play i
{
  font-size: 20px;
  position: relative;
  bottom: 4px;
}

.fixed-bottom
{
  position: fixed;
  float: left;
  width: 100%;
  bottom: 0px;
}
.fixed-top
{
  position: fixed;
  float: left;
  width: 100%;
  top: 0px;
}
.form-block
{
  float: left;
  width: 100%;
  position: relative;
}
.form-block input
{
  border: 0;
  outline: 0;
  border-bottom: 2px #16af8c solid;

}
.form-block label
{
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 22px;

}
.form-block input:focus + label,input.ng-not-empty + label
{
  top:-20px;
  left: 0px;
  font-size: 18px;

}
.form-block input:focus,input.ng-not-empty
{
 /*margin-top: 24px;
*/}

.animate
{
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;;
  -ms-transition: all 350ms;;
  -o-transition: all 350ms;;
  transition: all 350ms;;
}
.form-block input
{
  width: 100%;
  float: left;
  padding: 6px;
  font-size: 28px;
}
.form-block .button
{
  width: 100%;
  margin-top: 15px;
  float: left;
  font-size: 18px;
  border: 0;
  outline: 0;
  padding: 15px;
  background: #16af8c;
  color: white;

}
.main-container
{
  width: 100%;
  height: 100%;
}
.audio-player
{
  float: left;
  width: 100%;
  background: #eaeaea;
  height: 90px;
}

.audio-player .transcurrido
{
  position: absolute;
  bottom: 10px;
  left: 10px;

}
.audio-player .duracion
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.audio-player .progress-bar
{
  height: 7px;
  left: 0;
  background: #21c6a0;
  width: 0%;
  float: left;
  position: absolute;
  top: 0px;
}
.audio-player .controls
{
  text-align: center;
  position: relative;
  top:22px;

}
.audio-player .controls .play,.audio-player .controls .rewind,.audio-player .controls .forward,.audio-player .controls .pause
{
  font-size: 22px;
  position: relative;
  /* bottom: 15px; */
  top: 13px;
  color: #212121;
}
.audio-player .controls .rewind
{
  position: relative;
  left: -15px;
}

.audio-player .controls .forward
{
  position: relative;
  right: -15px;
}
.loader
{
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background:transparent;
  /* filter: blur(12px); */
}


/*Spinner*/

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
  margin: auto;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
.loader
{
  z-index:1000;
  background-color: rgba(0, 0, 0, 0.47);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}


.loader.fadeIn
{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.playlist > .fixed-top .form-block input
{
  width: 75%;
  top:19px;
  position: relative;
  border-bottom: 2px transparent solid;
}
.playlist > .fixed-top .form-block input:focus,.playlist > .fixed-top .form-block input.ng-not-empty
{
  border-bottom: 2px #16af8c solid;
}


.playlist > .fixed-top  .form-block .button
{
  width: 25%;
}
.playlist > .fixed-top .container
{
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;


}
.playlist .fixed-top
{
  z-index: 3;
  background: white;
}
.no-songs
{
  float: left;
  width: 100%;
  display: block;
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
}


