<!DOCTYPE html>
<html>
<head>
  <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <%- partial('../comun/header.ejs') %>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/reset.css">
  <!--STYLES END-->
</head>

<body data-ng-controller="ctrl" data-ng-app="app" class="<%= bodyClasses.join(" ") %>">


<!-- Controllers -->
<script src="/js/controllers/panel/mainController.js"></script>
<script src="/js/controllers/panel/loginController.js"></script>
<!-- ---->

<section>
  <%- body %>
</section>


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/controllers/panel/dashController.js"></script>
<script src="/js/controllers/panel/loginController.js"></script>
<script src="/js/controllers/panel/mainController.js"></script>
<script src="/js/controllers/site/loginController.js"></script>
<script src="/js/controllers/site/mainController.js"></script>
<!--SCRIPTS END-->
</body>
</html>
